<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>

    <h1 style="color: #62696f;">My Recipes Here!</h1>

    <table>

        <tr>
            <th>Description</th>
            <th>Preparing Time</th>
            <th>Cooking Time</th>
            <th>Servings</th>
            <th>Difficulty</th>
            <th>Directions</th>
        </tr>

        <tr th:each="recipy: ${allRecipes}">
            <td th:Text="${recipy.description}">Perfect Guacamole</td>
            <td th:Text="${recipy.prepTime}">10</td>
            <td th:Text="${recipy.cookTime}">10</td>
            <td th:Text="${recipy.servings}">4</td>
            <td th:Text="${recipy.difficulty}">Medium</td>
            <td th:Text="${recipy.directions}"
        </tr>

    </table>

</body>
</html>